<% include partials/header %>
  <style>
    .parallax {
      position: relative;
      z-index: 1;
      height: 300px;
      -webkit-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
      box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
    }

    #trans1 {
      background: url(../images/slide08.jpg) no-repeat;
      /*height:575px;*/
      background-position: center top;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    #trans2 {
      background: url(../images/slide02.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    #trans3 {
      background: url(../images/slide01.jpg) no-repeat top center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .txt {
      background: rgba(0, 0, 0, 0.7);
      color: #ccc;
      width: 100%;
      height: 100%;
    }

    .txt h2 {
      text-align: center;
      color: #FFF;
      line-height: 6;
      font-size: 50px;
      letter-spacing: 10px;
    }

    /*.txt.right { margin: 150px 100px 0 0; float: right; text-align: right; }
.txt.left { float: left; text-align: left; margin: 150px 0 0 100px; }
.txt.sub { font-size: 50px; line-height: 175%; font-weight: lighter; letter-spacing: 1.5px; background: #000; background: rgba(0,0,0,0.60); font-size: 25px; color: #ccc; margin: 0 100px 0 100px; }*/

    /*.content1 h2 { padding:0 25px; }
.content1 p { padding:0 50px; }*/
  </style>
  <main role="main">

    <!--<div><img src="/ui/images/default/banner.png" class="img-fluid" alt="Responsive image"></div>-->

    <div class="container-fluid marketing p-0">
      <div class="parallax" id="trans1">
        <div class="txt">
          <h2> About MiningTARA </h2>
        </div>
        <div style="clear:both;"></div>
      </div>
      <div class="container">
        <div class="content1">

          <p>Welcome to the South African <b> Mining Technology Availability Readiness Atlas (MiningTARA)</b>, an online
            portal showcasing mining equipment, software and systems developed and manufactured in South Africa.</p>

          <p>TARA’s mission is to establish itself as the first and primary online portal used by mining companies to
            source mining equipment and machinery manufactured in South Africa. </p>

          <p>The <b>Mandela Mining Precinct</b>, a novel partnership between the <b>Department of Science and Innovation
              (DSI)</b> and <b>Minerals Council of South Africa (MCSA)</b>, funded the development of the TARA portal to
            provide the
            mining industry with a central access point to the capabilities and offering of local mining equipment
            manufacturers. <b>Mining Equipment Manufacturers of South Africa (MEMSA)</b> has been a close collaborator
            and now manages the project.</p>

          <p>The South African mining equipment industry is historically well respected for its <b>innovation and
              technological advancement</b>, driven in part by a demanding home market, and collaboration with locally
            based mining houses. Even within a highly competitive international environment, local researchers,
            engineers and manufacturers have continued to develop modern technologies to address the needs of South
            African and African mining environments - often proving value in offshore markets, too. Yet the capability
            of the local industry is rarely fully appreciated.</p>

          <p>MiningTARA is positioned to foster the innovation, modernisation, and mechanisation of mining in South
            Africa and provides a platform for <b>Original Equipment Manufacturers (OEMs), Original Technology
              Manufacturers (OTMs), software designers and mining component suppliers</b> to demonstrate their
            commercially
            available technologies on a user-friendly platform, easily accessible to local and international mines.</p>

          <p>The database allows for the inclusion of items currently under development, with the intention of
            facilitating potential Research, Development, and Innovation (RDI) partnerships between product developers
            and end-users. For items under development, the <b>Technology Readiness Level</b> is indicated, creating the
            potential for TARA to
            act as a catalyst for innovation and collaboration.</p>

          <p>Universities and research organisations such as the Council for Scientific and Industrial Research (CSIR)
            are able to access a virtual catalogue of existing local technologies, again facilitating potential
            collaboration.</p>
          <p>The initiative aims to contribute to the sustainability and growth of the South African mining supply
            chain, contributing to a thriving manufacturing sector, and an increase in skilled and meaningful
            employment.</p>

          <h6 class="mb-0">Future development:</h6>
          <p>In the future, it is intended that MiningTARA will provide validation of equipment specifications as the
            system is ideally placed to integrate verification data from partner test sites.</p>
          <p>Development plans include showcasing a wider range of locally developed Real Time Information Management
            Systems, such as underground network communications, cyber physical systems, software and systems
            integration options, artificial intelligence, edge computing solutions, and positioning and tracking
            systems.</p>
          <p>Improvement to the functionality of the TARA is an ongoing process. Users are welcome to send feedback and
            suggestions to <a class="emailLink" href="mailto:tara@memsa.org.za?subject= Feedback and
            Suggestions">tara@memsa.org.za</a> </p>



        </div>
      </div>




    </div>
    <div class="container">
      <div class="customer-logos slider d-flex">
        <div class="slide"><img src="images/logos/CSIR.jpg"></div>
        <div class="slide"><img src="images/logos/Mining-Equipment-Manufacturers-of-South-Africa.jpg"></div>
        <div class="slide"><img src="images/logos/MCSA.jpg"></div>
        <div class="slide"><img src="images/logos/Coaltech.jpg"></div>
        <div class="slide"><img src="images/logos/Department-of-Mineral-Resources.jpg"></div>
        <div class="slide"><img src="images/logos/Department-of-Planning-Monitoring-and-Evaluation.jpg"> </div>
        <div class="slide"><img src="images/logos/Department-of-Trade-and-Industry.jpg"></div>
        <div class="slide"><img src="images/logos/Geological-Society-of-South-Africa.jpg"></div>
        <div class="slide"><img src="images/logos/Science-and-Innovation.jpg"></div>
        <div class="slide"><img src="images/logos/South-African-Minerals-Processing-Cluster.jpg"></div>
        <div class="slide"><img src="images/logos/The-Southern-African-Institute-of-Mining-and-Metallurgy.jpg"></div>
        <div class="slide"><img src="images/logos/University-of-Johannesburg.jpg"></div>
        <div class="slide"><img src="images/logos/University-of-Pretoria.jpg"></div>
        <div class="slide"><img src="images/logos/University-of-the-Witwatersrand.jpg"></div>
      </div>
    </div>
  </main>
  <% include partials/footer%>
    </hr>